
@media all and (min-width: 768px) and (max-width: 1280px) {
    *{
        border: 1px solid black;
    }
  .wrap {
    margin-inline: 16px;
    display: flex;
  }
  .title {
    text-transform: uppercase;
    font-size: 20;
    font-weight: 600;
  }

  .divbtn {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  #adjdiv2 {
    display: none;
  }
  #adjdiv3 {
    display: none;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .wrap {
    margin-inline: 16px;
  }
  .title {
    text-transform: uppercase;
    font-size: 20;
    font-weight: 600;
  }

  .divbtn {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  #adjdiv2 {
    display: none;
  }
  #adjdiv3 {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .wrap {
    margin-inline: 16px;
  }
  .title {
    text-transform: uppercase;
    font-size: 20;
    font-weight: 600;
  }

  .divbtn {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  #adjdiv2 {
    display: none;
  }
  #adjdiv3 {
    display: none;
  }
}
