/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 200px) {
    
    .wrap{
            margin-inline: 16px ;
            
    
        }
    .title{
        text-transform: uppercase;
        font-size: 20;
        font-weight:600;
    }
    
    .divbtn{

        width:  80%;
        display: flex;
        justify-content: space-between ;      
    }
    #adjdiv2{
        display:none;
    }
    #adjdiv3{
        display:none;
    }

}
/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768) {

}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024) {

}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {

}